body {
  font-family: sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 1.62rem;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.875rem;
}
h4 {
  font-size: 1.25;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 1.375rem;
  line-height: 1.5;
}
li {
  font-size: 1.25rem;
}
/* footer p {
  font-size: 1rem;
} */

#author {
  font-size: 1.125rem;
  font-style: italic;
}
#copyright {
  font-size: 1rem;
}
.releted-author {
  font-size: 1.125rem;
  font-weight: bold;
}
.releted-list {
  list-style: none;
}
.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}
/* Pseudo Class */
li:first-child {
  font-weight: bold;
}

/* li:nth-child(even) {
  color: red;
} */
article p:last-child {
  color: red;
}
/* Styling Hyper links */

a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  /* color:#777 */
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}
/* Hyperlinks always style in this order to remember this use accronium LVHA */
nav {
  font-size: 1.125rem;
}
